* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
}

html, body, .container {
	width: 100%;
	height: 100vh;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

span {
	font-weight: bold;
}

/* header & footer */

footer, header {
	width: 100%;
   	background: #dadada;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100px;
    padding: 10px;
   	border-bottom: solid 1px #dadada;
}
 
footer {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   border-top: solid 0.5px #dadada;
}

footer p {
  padding: 5px 10px; 
  font-size: 0.7em;
  border-right: solid 1px #333;
}

footer p:last-child {
	border: none;
}

footer a {
  color: #333;
  font-weight: bold;
}

/* main */
main {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	justify-self: center;
	width: 100%;
	max-width: 1280px;
	min-width: 480px;
}

section {
	display: flex;
	align-items: center;
	min-height: 400px;
	padding: 10px;
}

.viz {
	position: sticky;
	top: 0;
	flex: 7 0;
}

.note {
	display: flex;
	flex-direction: column;
	flex: 3 0;

	box-shadow: 0 2px 8px rgba(0,0,0,.2);
	justify-content: center;
}

.note .article {
	padding: 10px;
}

.note .article p {
	padding: 5px;
}

.note ul {  
	list-style: none;
}

.note li {
	width: 100px;
	cursor: pointer;

    background-size: 170% 100%;
    background-position:right bottom;

	margin: 5px 10px;
	padding: 5px 10px;
	transition:all 1s ease;

}
.note li:hover {
    background-position:left bottom;
}