
.sentiment-dynamics .btn {
	color: white;
	background: #EC7ED8;
	border: none;
	padding: 3px 5px;
	margin: 5px 1px;
	text-decoration: none;
	cursor: pointer;
}

.sentiment-dynamics .btn:hover, 
.sentiment-dynamics .current {
  	background: #CD34B5;
}

.sentiment-dynamics text {
	text-anchor: middle;
	font-size:10px; 
	fill: #555;
	pointer-events: none;
}

.sentiment-dynamics circle {
	fill-opacity: 0.7; 
	stroke: #2C2C2C;
}

.sentiment-dynamics circle:hover {
	fill-opacity: 1; 
}

.sentiment-dynamics path {
	stroke: #2C2C2C;
}
